In [8]:
"""Code to format info on movies in a csv file for publication."""

# built-in libraries
import csv
import datetime
from email.message import EmailMessage
import os.path
import re
import smtplib
import sqlite3
import sys

# installed with pip
import pandas as pd
from sqlalchemy import create_engine

# custom library
import creds

In [9]:
print(creds.PASSWORD)

abc123

In [10]:
# Create list of dictionaries for each row.
listings = []
scrape_file = '2781_Fandango_data_Movie_full.csv'
with open(scrape_file, 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        layout_dct = {
            'addy': row[0],
            'theater': row[1],
            'title': row[2],
            'mpaa': row[3],
            'stars': row[4],
            'times': row[5],
            'format': row[6],
            'synopsis': row[7],
            'date': row[8],
            'city': row[9]
        }
        listings.append(layout_dct)
        
del listings[0] #remove header row

In [11]:
# Create Pandas dataframe for listings
df = pd.DataFrame(listings)
df = df[df.city != "Belleview, FL"]
df = df[df.city != "High Springs, FL"]
df = df[(df.city != "The Villages, FL") & (df.theater != "Belleview Cinemas")]
df = df[(df.city != "The Villages, FL") & (df.theater != "Old Mill Playhouse")]
df = df[(df.city != "The Villages, FL") & (df.theater != "Old Mill Playhouse")]
times = (df.times.str.split('|', expand=True).rename(columns=lambda x: f"time_{x+1}"))
times = times.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
times = times.apply(lambda x: x.str.replace('p', ' p.m.') if x.dtype == "object" else x)
times = times.apply(lambda x: x.str.replace('a', ' a.m.') if x.dtype == "object" else x)
times = times.apply(lambda x: x.str.replace(':00', '') if x.dtype == "object" else x)
df = df.drop('times', axis=1)
df = pd.concat([df, times], axis=1, join_axes=[df.index])
df['streetaddy'] = df.addy.str.split(',').str[0]
df.streetaddy = df.streetaddy.str.replace('Blvd', 'Blvd.')
df.streetaddy = df.streetaddy.str.replace('Blvd..', 'Blvd.')
df.streetaddy = df.streetaddy.str.replace('Avenue', 'Ave')
df.streetaddy = df.streetaddy.str.replace('Ave', 'Ave.')
df.streetaddy = df.streetaddy.str.replace('Ave..', 'Ave.')
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['movieday'] = df['date'].dt.weekday_name
df = df.drop('city', axis=1)
df['cityaddy'] = df.addy.str.split(',').str[1]
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df = df.drop('addy', axis=1)
df.head()

,date,format,mpaa,stars,synopsis,theater,title,time_1,time_2,time_3,time_4,time_5,time_6,time_7,time_8,streetaddy,movieday,cityaddy
0,2018-11-29,Standard,PG,4.5,Ralph and Vanellope embark on an adventure ins...,Ocala Center 6,Ralph Breaks the Internet,1 p.m.,4 p.m.,7 p.m.,None,None,None,None,None,2021 Silver Springs Blvd.,Thursday,Ocala
1,2018-11-29,Standard,PG-13,5,"Singer Freddie Mercury, guitarist Brian May, d...",Regal Royal Park Stadium 16,Bohemian Rhapsody,12:15 p.m.,3:20 p.m.,6:20 p.m.,9:30 p.m.,None,None,None,None,3702 Newberry Road,Thursday,Gainesville
5,2018-11-29,Standard,,5,,Regal Butler Town Center 14,2.0,12 p.m.,None,None,None,None,None,None,None,3101 SW 35th Blvd.,Thursday,Gainesville
7,2018-11-29,Standard,PG-13,4.5,In an effort to thwart Grindelwald's plans of ...,Celebration Pointe 10,Fantastic Beasts: The Crimes of Grindelwald,12 p.m.,3:15 p.m.,7 p.m.,1 p.m.,4:15 p.m.,7:30 p.m.,None,None,4901 SW 31st Place,Thursday,Gainesville
8,2018-11-29,Standard,PG,4.5,Academy Award® nominee Benedict Cumberbatch le...,Regal Butler Town Center 14,Dr. Seuss' The Grinch (2018),12:05 p.m.,2:30 p.m.,4:50 p.m.,10:45 p.m.,7:15 p.m.,None,None,None,3101 SW 35th Blvd.,Thursday,Gainesville

In [13]:
# Put new cinema scrape data into db
#db_directory = os.path.dirname(os.path.abspath(__file__))
#db_file = os.path.join(db_directory, "rinspect.sqlite")

db_file = "cinema_db.sqlite"
movie_table = 'movies' # table for movie data
conn = sqlite3.connect(db_file)
cur = conn.cursor()

In [20]:
def df2sqlite(df, db_file, movie_table):
 
  conn=sqlite3.connect(db_file)
  cur = conn.cursor()                                 
 
  wildcards = ','.join(['?'] * len(df.columns))              
  data = [tuple(x) for x in df.values]
 
  cur.execute("drop table if exists %s" % movie_table)
 
  col_str = '"' + '","'.join(df.columns) + '"'
  cur.execute("create table %s (%s)" % (movie_table, col_str))
 
  cur.executemany("insert into %s values(%s)" % (movie_table, wildcards, data)
 
  conn.commit()
  conn.close()

SyntaxError: invalid syntax (<ipython-input-20-597ea6c45d9d>, line 16)

In [21]:
df2sqlite(df, db_file, movie_table)

InterfaceError: Error binding parameter 0 - probably unsupported type.

In [ ]:
# Ocala market
oc6_df = df.loc[df['theater'] == 'Ocala Center 6']
ocd_dr = df.loc[df['theater'] == 'Ocala Drive-In']
bv_df = df.loc[df['theater'] == 'Belleview Cinemas']
mt_df = df.loc[df['theater'] == 'Marion Theatre']
omp_df = df.loc[df['theater'] == 'Old Mill Playhouse']
regaloca_df = df.loc[df['theater'] == 'Regal Hollywood Stadium 16 & IMAX - Ocala']
rialto_df = df.loc[df['theater'] == 'Rialto Theatre Spanish Springs Town Square']
amc_df = df.loc[df['theater'] == 'AMC Lake Square 12']
barn_df = df.loc[df['theater'] == 'Barnstorm Theater']

# Gainesville market
celeb_df = df.loc[df['theater'] == 'Celebration Pointe 10']
hipp_df = df.loc[df['theater'] == 'Hippodrome State Theatre']
butler_df = df.loc[df['theater'] == 'Regal Butler Town Center 14']
regalgnv_df = df.loc[df['theater'] == 'Regal Royal Park Stadium 16']
uac_df = df.loc[df['theater'] == 'UA Cinema 90 6']
starke_df = df.loc[df['theater'] == 'Florida Twin']
uac_df = df.loc[df['theater'] == 'UA Cinema 90 6']

In [ ]:
# Convert datetime object into day of the week; But this is accomplished in the df work already.
def get_day(date_object=None):
    if not date_object:
        date_object = datetime.datetime.now()
    stamp = ""
    stamp += datetime.datetime.strftime(date_object, "%A")
    return(stamp)